<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.BaseTest"/>
      <class name="com.tests.HomePageTest"/>
      <class name="com.tests.ModelPageTest"/>
      <class name="com.tests.PostcodePageTest"/>
      <class name="com.tests.ContactDetailsPageTest"/>
      <class name="com.tests.ThankYouPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
